.bio figure {
  margin-left: 0;
}
.bio img {
  margin-left: 3rem;
  margin-bottom: 3rem;
  max-width: 320px;
  float: right;
  border-radius: 4px;
}
/* .booklist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  grid-auto-rows: auto auto 300px;
}
.booklist a:hover {
  opacity: 0.75;
} */
